<%- include ('partials/header.ejs')  %>

<%- include ('partials/main_nav.ejs')  %>
<div class ="container-fluid">
    <main class ="container-fluid bgclr hdBgOne pb-1">

 
   <div class="row">
       
       
    
    
        <div class="col"style="margin-bottom=10%"><h2 class="mainheading"><b>About Me</b><h2>

        </div>
    </div>
    <div class="container"style="margin-top:10%">
        <div class="row"style="margin-top:10%">
            <div class="col-md-auto"><img src="\Assets\images\me.jpg"class="img-fluid"width="300"height="300">
            </div>

            <div class="col mainheading" style="font-size:24px">
            <strong>My Name is Pritpal Singh Grewal. I am a student of Software Engineering Program specializing in Game Programming.
           I am passionate aboout coding and creating 2D or 3D games. I have good knowledge in HTML, CSS, Bootsrap, JavaScript,
           C#, C++, Java,SDLC,SQL. Currently learning Node.js, Angular, MongoDb working with MEAN. My resume link for QA Analyst.</strong>
          
          
            </div>
        </div>
    </div>
        <a href="\Assets\Resume\PritpalResumeQA.pdf"target="blank"style="color:black;font-size:30px"><strong>Resume</strong></a>


</div>
 


    </main>


    <%- include ('partials/bottom_nav.ejs')  %>
   
    <%- include ('partials/footer.ejs')  %>