

<%- include ('partials/header.ejs')  %>

<%- include ('partials/main_nav.ejs')  %>


<div class="container-fluid bgclr apprnceBg"style="padding-bottom:2%">
<div class="container text-center ">
    <div class="row hdBg">

        <h2 class="mainheading"><strong>How to connect with me?</strong></h2>

    </div>

       
<div class="container contact"style="margin-top:20%">
   
    <div class="row justify-content-center">
        <div class="col-lg-4" style="margin-top:15%;">
            <form>
                
                 <div class="form-floating mt-3 mb-3">
                    <input type="fname" name="fname" id="fname" class="form-control" placeholder="First name">
                    <label for="fname">First Name</label>
                 </div>
                 <div class="form-floating mb-3">
                    <input type="lname" name="lname" id="lname" class="form-control" placeholder="Last name">
                    <label for="lname">Last Name</label>
                 </div>
                 <div class="form-floating mb-3">
                    <input type="phone" name="phone" id="phone" class="form-control" placeholder="contact Number">
                    <label for="phone">Contact Number</label>
                 </div>
                 <div class="form-floating mb-3">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                    <label for="email">Email</label>
                 </div>
                 <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="text" style="height: 100px"></textarea>
                    <label for="text">Message</label>
                 </div>
                 <div class="cols-sm-auto"style="margin-top:10%;text-align:center">
                    <button class=" btn btn1"><a href="/home"style="color:white">Submit</a></button>
               
            </form>
           

    </div>
   
    
</div>
<div class="container-fluid text-center"style="margin-top:20%; padding-bottom:10% ;">
    <div class="row justify-content-center  ">

        <h2 class="mainheading"style="color:black"><strong>Contact Me</strong></h2>
      
    </div>
    <div class="col-sm-auto mt-2 mainheading"><h2>Phone Number</h2></div>
    <div class="col-sm-auto  mt-2 mainheading"><h2>647-770-5634</h2></div>
    <div class="col-auto  mt-2 mainheading"><h2>Email</h2></div>
    <div class="container-fluid mainheading"><h2>pgrewa26@my.centennialcollege.ca</h2></div>
    <a href="/business-contact-list" class="btn btn1"role="button"style="color:white">Business Contacts</a>
</div>


<%- include ('partials/bottom_nav.ejs')  %>
   
<%- include ('partials/footer.ejs')  %>