
<%- include partials/header.ejs  %>
<!--Main content-->
<div class="bgclr" style="padding-bottom: 38%;">



  <main class ="container-fluid mt-3">
  
      <div class="row row-cols-auto">
          
          
          <div class="col-sm-auto"style="margin:auto;"><h1 style="text-align: center;font-size:70px">PORTFOLIO<h2>
  
              <div class="col-lg-auto"style=";margin:auto"><h2 >Welcome<h2>
                  <br>
                  <p class="lead"style="font-size:40px;">
                     This website you can find all my information, my email, full name, projects that I have done so far.<br>My mission is to keep updating the website with new features
                     as I learn more about programming skills.<br> This website is going to be my root source of all resumes and my personal portfolio.<br>
                     
          
                  </p>
                  
          
              </div>
                  <div class="cols-sm-auto"style="margin-top:10%;text-align:center">
                      <button class="btn btn1"><a href="/about"style="color:white">About Me</a></button>
                      <button class="btn btn1"><a href="/projects"style="color:white">Projects</a></button>
                      <button class="btn btn1"><a href="/contact"style="color:white">Contact</a></button>
                      <button class="btn btn1"><a href="/services"style="color:white">Services</a></button>
                      
  
                  </div>
                  
  
  
  
          </div>
         
      </div>
  </div>
  
  </main>
    
  <%- include partials/bottom_nav.ejs  %>
   
  <%- include partials/footer.ejs  %>







