<%- include ('partials/header.ejs')  %>

<%- include ('partials/main_nav.ejs')  %>

<!------Project content-->
<article class ="container-fluid bgclr pb-1 apprnceBg">
<main class="container-fluid">
    <div class="container text-center ">
        <div class="row">

            <h1 class="mainheading hdBg"><b>Projects</b></h1>

        </div>
           

                <div class="row">
                    <div class="col "><br>
                        <img src="\Assets\images\invaders.png" alt="Portfolio" width="451px"height="640px">
                        <div class="col-lg-auto  mt-2"><h3 class="mainheading hdBg">Space Invaders</h3></div>
                        <div class="col-lg-auto  mt-2 mainheading scrptBg"><strong>This classic game was made by me in unity in first semester<br>
                        I learnt core fundamentals of gaming and programming. This game helped me<br>
                    to improve my skills in C# programming.</strong></div>
        
                    </div>
                    <div class="col"><br>
        
                        <img src="\Assets\images\portfolio.png" alt="Portfolio" width="451px"height="640px">
                        <div class="col-lg-auto  mt-2"><h3 class="mainheading hdBg">Portfolio</h3></div>
                        <div class="col-lg-auto  mt-2 mainheading scrptBg"><strong>Currently, I am creating a express protfolio website with the help of<br>
                        JavaScript, HTML, CSS, Bootstrap, Node.js. The webiste will reflect all of my work<br>
                     in future as well.</strong></div>
                    </div>
                    <div class="col"><br>
                        <img src="\Assets\images\Ragnar.jpg" alt="Ragnar">
                        <div class="col-lg-auto  mt-2"><h3 class="mainheading hdBg">Ragnar</h3></div>
                        <div class="col-lg-auto  mt-2 mainheading scrptBg"><strong>This unity game project is inspired from the top-down<br> RPG game called<i>"Hades"</i>.
                        The game has main character<br> called "Ragnar"  a brave warrior, after constantly<br>fighting desires for a place in Valhalla.<br> 
                    The God give him last task to eliminate an evil enemy<br>  and after that he could findp lace in Valhalla.</div>
                    </strong>
                </div>
        </div>
       


                </div>


</main>
</article>

<%- include ('partials/bottom_nav.ejs')  %>
   
<%- include ('partials/footer.ejs')  %>