<%- include partials/header.ejs  %>

<%- include partials/main_nav.ejs  %>

<div class="container-fluid bgclr pb-1 apprnceBg">
    <div class="row hdBg">

        <h1 class="mainheading "style="text-align:center; margin-top:9px "><b>Services</b></h1>

    </div>
<div class="container  mt-1">
<div class ="row scrptBg">

    <div class="col-md-auto">
        <img src="\Assets\images\web.jpg" class="rounded" alt="Portfolio" width="451px"height="300px">
    </div>
    <div class="col mainheading fnt">
        <strong> I provide Web application development services. I am familiar with JavaScript, HTML, CSS, Tailwind CSS, Bootstrap.
        I am passionate to learn new things, and i belienve as an intern I can gain good experience from experienced devs
        and can learn a lot from them.</strong> 
    </div>

</div>

<div class ="row mt-1 scrptBg">

    <div class="col-md-auto">
        <img src="\Assets\images\game.jpg" class="rounded"  alt="Portfolio" width="451px"height="300px">
    </div>
    <div class="col  mainheading fnt">
       <strong> I am proficient in C# and OOP.I can test 2D games, find bugs and rectify the problem.I also created couple of windows 
        forms using C# in Microsoft Visual Studio. I have written unit tests to test programs and application. I am confident
        that I can be of great value as Tester/QA Analyst.</strong><br> 
    </div>

</div>

<div class ="row mt-1 scrptBg">

    <div class="col-md-auto">
        <img src="\Assets\images\blender.png" class="rounded"  alt="Portfolio" width="451px"height="500px">
    </div>
    <div class="col  mainheading fnt">
        <strong>  I have good knowledge in blender as well. In Blender, one can make 3D models. I am familiar with rigging character, texturing
        shading, exporting and importing.I can do basic animation in blender as well. I believe undersupervision, I can be of great support
        in doing basic animations for movie and game industry. </strong>
    </div>

</div>
</div>
</div>








<%- include partials/bottom_nav.ejs  %>
   
<%- include partials/footer.ejs  %>