/*Pritpal Singh Grewal
 300961555
 Express Portfolio
 30th September, 2022*/


.center {
   
    width: 100%;
    
    padding: 10px;
    height:800px;
    margin-top:10%
  }

  .top{
    width:auto;
    
    padding: 10px;
    margin-top: 10%;
   
  }

  .body{
    
   position:fixed;
   
    width: 100%;
    height: 100%;
    padding-top: 11rem;
    padding-bottom: 3rem;
    background:  url(../assets/images/bird.jpg);
    
    background-repeat: no-repeat;
    background-size:auto;
  }
  .contact{
    
    position:sticky;
    
     width: 100%;
     height: 100%;
     opacity: 1;
     background:  url(../assets/images/Contact.jpg);
     
     background-repeat: no-repeat;
     background-size:auto;
   }
  .btn{
    background-color: black;
    border-radius:30%;
    color:white;
    padding:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor:pointer;
    font-weight: 400;
  }
  .btn1{border-radius: 50%}
  .btn1:hover{transition:3s;transform:scale(1.2);color:whitesmoke}

  .mainheading{
    font-family: 'Open Sans', sans-serif;
    text-decoration: solid;
  }

  .mt-1{
    margin-top: 5% !important;
   
  }
  .mt-3{
    margin-top: 20% !important;
   
  }
  .pb-1{
    padding-bottom: 20% !important;
    
  }
.boder{
  border-style: solid;
  border-width: 1px;
}
.bgclr{
  background-color: #b0b0b0;
background-image: linear-gradient(0deg, #b0b0b0 0%, #fbffff 100%);
}
.fnt{
  font-weight: 500;
  font-size: 24px;
}

.scrptBg{
  background: rgb(229,229,229);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(244,246,244,0) 100%, rgba(214,211,211,1) 100%);
  font-size: 24px;
  
  font-weight: 400;
}
.scrptBg:hover{
  transition:1s;transform:scale(1.1);
  color:rgb(255, 255, 255);
  color: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(244,246,244,0) 100%, rgba(214,211,211,1) 100%);
  background: rgb(229,229,229);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(244,246,244,0) 100%, rgba(214,211,211,1) 100%);

}
.hdBg{
  background: rgb(229,229,229);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(244,246,244,0) 100%, rgb(0, 0, 0) 100%);
  font-size: 44px;
  color:white;

  
  font-weight: 400;
}
.hdBg:hover{
  transition:3s;transform:scale(1.1);
  color:rgb(0, 0, 0);
  color: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(244,246,244,0) 100%, rgb(0, 0, 0) 100%);
  background: rgb(229,229,229);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(244,246,244,0) 100%, rgba(214,211,211,1) 100%);

}
.apprnceBg{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 2%, rgba(255,255,255,0.4653037005992976) 22%, rgba(0,0,0,1) 100%);

}
.hdBgOne{
  background: rgb(195,188,188);
  background: linear-gradient(90deg, rgba(195,188,188,1) 0%, rgba(0,0,0,1) 0%, rgba(5,5,5,0.2699581541601015) 18%, rgba(0,0,0,0) 54%, rgba(0,0,0,0.6060926079416141) 91%, rgba(0,0,0,1) 100%);
  font-size: 44px;
  color:rgb(0, 0, 0);

  
  font-weight: 400;
}
.hdBgOne:hover{
  transition:0.5s;
  background: rgb(255,255,255);
background: linear-gradient(94deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
color:black;

}
.clr{
  color:white;
}